/* team create */

@font-face {
	font-family: 'GangwonEduPowerExtraBoldA';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff')format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
	min-width: 360px;
	margin: 0;
	padding: 0;
	line-height: 1.5;
    text-align: left;
	font-size: 14px;
	font-weight: 400;
	color: #1a1a1a;
	background: #fff;
}

section {
    top: 0;
    height: 164vh;
    padding-top: 5rem;
    text-align: center;
}

article {
	height: auto;
}

p {
	margin-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	font-weight: bold;
}

.age-title {
	margin-bottom: 0px;
}

p span {
	color: #dd2222;
}

span {
	font-size: 12px;
}

textarea.etc {
	width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 16px;
    color: #b2b2b2;
    border-radius: 4px;
    word-wrap: break-word;
    resize: none;
}


.text-box {
	width: 100%;
	height: 2.5rem;
	padding: 10px;
	border: solid 1px #ccc;
	border-radius: 5px;
	color: #b2b2b2;
}

.text-box2 {
	width: 162px;
	height: 2.5rem;
	padding: 10px;
	border: solid 1px #ccc;
	border-radius: 5px;
	color: #b2b2b2;
}

.container {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    width: 750px;
    max-width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0.5rem;
}

.teamMark {
	margin: 5px;
	padding: 5px;
}

.img-teamMark {
	width: 350px;
	border-bottom: solid 1px #666;
}


.title {
	margin-top: 35px;
	line-height: 50px;
	color: #000;
	font-size: 30px;
	font-weight: bold;
	font-family: 'GangwonEduPowerExtraBoldA' !important;
}

.article-container {
	width: 50%;
	height: auto;
}

.item-wrap {
	margin: 10px;
	padding: 10px;
	height: auto;	
}

.inner-btn {
	position: relative;
	margin-top: 2px;
	margin-bottom: 20px;
}

.btn-check {
	position: absolute;
	top: 27px;
    right: 4px;
    color: white;
    background-color: #1B5E20;
    padding: 6.5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
}

.all {
	margin-bottom: 20px;
}

.formation-wrap,
.select-gender {
	margin-bottom: 27.5px;
}

.select-age input[type=radio],
.select-level input[type=radio],
.select-gender input[type=radio],
.select-total input[type=radio],
.select-color input[type=radio] {
	display: none;
}

.select-age input[type=radio]+label,
.select-level input[type=radio]+label,
.select-gender input[type=radio]+label,
.select-total input[type=radio]+label {
	display: inline-block;
	cursor:pointer;
  	width: 106.5px;
    margin: 2px 0px;
    padding: 0.65rem 0.25rem;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    background: #fff;
}

.area,
.formation {
	width: 100%;
	height: 2.5rem;
	border: solid 1px #ccc;
	border-radius: 5px;
	color: #666;
}

.text-wrap {
	position: relative;
	margin-top: 2px;
	margin-bottom: 20px;
}

#font-count {
	position: absolute;
	top: 26px;
    right: 4px;
    color: #666;
    padding: 5px 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.court {
	height: 200px;
	transform: skewX(30deg, 60deg);
}

.date-container {
	width: 100%;
}

.date-wrap {
	display: flex;
	justify-content: space-between;
}

.day {
	width: 162px;
	height: 2.5rem;
	border: solid 1px #ccc;
	border-radius: 5px;
	color: #666;
}

.time {
	width: 162px;
	height: 2.5rem;
	border: solid 1px #ccc;
	border-radius: 5px;
	color: #666;
}

.select-color {
	display: flex;
}

.select-color input[type=radio]+label {
	width: 40px;
	height: 40px;
	cursor:pointer;
    margin: 2px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
}

.select-color input[type=radio] + .red {
	border: solid 2px #eb5652;	
	background: #eb5652;
}

.select-color input[type=radio] + .orange {
	border: solid 2px #f78f45;
	background: #f78f45;
}

.select-color input[type=radio] + .yellow {
	border: solid 2px #ffb300;
	background: #ffb300;
}

.select-color input[type=radio] + .green {
	border: solid 2px #69bd4a;
	background: #69bd4a;
}

.select-color input[type=radio] + .blue {
	border: solid 2px #6099f0;
	background: #6099f0;
}

.select-color input[type=radio] + .skyblue {
	border: solid 2px #b0daff;
	background: #b0daff;
}

.select-color input[type=radio] + .navy {
	border: solid 2px #456fb0;
	background: #456fb0;
}

.select-color input[type=radio] + .purple {
	border: solid 2px #ac8ced;
	background: #ac8ced;
}

.img-wrap {
	margin: 5px;
	padding: 5px;
}

.img-png {
	width: 60%;
}

.one {
	display: block;
}

.two {
	display: none;
}

.three {
	display: none;
}

.formation-wrap {
	margin-top: 11px;
}

.btn-wrap {
	margin: 40px 1px;
	padding: 1px;
}

.create {
	width: 100%;
	height: 2.5rem;
	color: #fff;
	border: none;
	border-radius: 5px;
	background: #1B5E20;
}

.insert {
	width: 100%;
	height: 2.5rem;
	color: #fff;
	border: none;
	border-radius: 5px;
	background: #1B5E20;
	margin-top: 7px;
}

.update {
	width: 100%;
	height: 2.5rem;
	color: #fff;
	border: none;
	border-radius: 5px;
	background: #1B5E20;
	margin-top: 7px;
}

.reset {
	width: 100%;
	height: 2.5rem;
	color: #fff;
	border: none;
	border-radius: 5px;
	background: #c2c2c2;
}

.text-box:hover,
.area:hover,
.day:hover,
.time:hover,
.formation:hover {
	border: solid 2px #ffc090;
}

.age:hover,
.level:hover,
.gender:hover,
.total:hover,
.create:hover {
	color: #fff;
	border: solid 1px #ffc090;
	background: #ffc090;
}

.btn-check:hover {
	color: #fff;
	background: #ffc090;
}

.text-box:focus,
.area:focus,
.gender:focus,
.day:focus,
.time:focus,
.formation:focus {
	border-color: #ffc090;
    box-shadow: 0 0 1px 2px rgba(255, 192, 144, 0.5);
    color: #666;
    outline: none;
}

.select-age input[type=radio]+label:hover,
.select-level input[type=radio]+label:hover,
.select-gender input[type=radio]+label:hover,
.select-total input[type=radio]+label:hover {
	color: #fff;
	border: solid 1px #ffc090;
	background: #ffc090;
}

.select-age input[type=radio]:checked + label, 
.select-level input[type=radio]:checked + label,
.select-gender input[type=radio]:checked + label,
.select-total input[type=radio]:checked + label {
	color: #fff;
	border: solid 1px #ffc090;
	background: #ffc090;
}

.select-color input[type=radio]+label:hover {
	border: solid 2px #000;	
}

.select-color input[type=radio]:checked + label {
	border: solid 2px #000;	
}
	
	
	
	
	
