/* team List */

@font-face {
	font-family: 'GangwonEduPowerExtraBoldA';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff')format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
	min-width: 360px;
	margin: 0;
	padding: 0;
	line-height: 1.5;
    text-align: left;
	font-size: 14px;
	font-weight: 400;
	color: #1a1a1a;
	background: #fff;
}

section {
    top: 0;
    height: 135vh;
    padding-top: 5rem;
    text-align: center;
}

img {
	width: 35px;
	height: 35px; 
}

img.img-person {
	width: 25px;
	height: 25px; 
}

article {
	height: auto;
}

p {
	margin-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	font-weight: bold;
}

.menu {
	display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 750px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0.5rem 0px 0.5rem;
}

.text-menu {
	color: #000;
	font-size: 25px;
    font-family: 'GangwonEduPowerExtraBoldA' !important;
}

.text-menu:hover {
	color: #7fb77e;
	font-size: 25px;
    font-family: 'GangwonEduPowerExtraBoldA' !important;
}

.container {
    background: #F5F5F5;
}

.root-container {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80rem;
    max-width: 90rem;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
    padding: 1rem 0.5rem;
}

.article-container.one {
	width: 40%;
	height: auto;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	background: #fff;
}

.article-container.two {
	width: 58%;
	height: auto;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	background: #fff;
}

.item-wrap {
	padding: 10px;
	height: auto;	
}

.wrap {
	display: flex;
    justify-content: flex-end;
}

.btn-teamInsert {
	width: 70px;
	height: 35px;
	margin-top: 10px;
	padding: 3px;
	font-size: 15px;
	font-weight: bold;
	color: #7fb77e;
	border: solid 2px #7fb77e;
	border-radius: 5px;
	background: #fff;
	outline: none;
}

.title {
	line-height: 50px;
	color: #000;
	font-size: 25px;
	font-weight: bold;
	font-family: 'NanumSquareExtraBold' !important;
}

.title.board {
	width: 100%;
}

.content-container1 {
	height: 97.5vh;
	border: solid 1px #f8fafb;
	border-radius: 5px;
}

.content-container {
	height: 97.5vh;
	border: solid 1px #f8fafb;
	border-radius: 5px;
	background: #EEEEEE;
}

.title-wrap {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 50px;
    padding: 5px;
}

.subject {
	padding: 3px;
	padding-bottom: 0px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'NanumSquareExtraBold' !important;	
}

.subject.team,
.content.team {
	width: 63%;
}

.subject.area,
.content.area {
	width: 34%;
}

.subject.img {
	width: 5%;
}

.detail {
	line-height: 35px;
	width: 96%;
	margin: 10px;
	margin-top: 0px;
	border: solid 2px #fff;
	border-radius: 5px;
	background: #f8fafb;
	outline: none;
}

.content-wrap {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 35px;
    border-radius: 10px;
	background: #fff;
}

.content {
	font-size: 17px;
	text-align: center;
	padding: 5px;
}

.content.memo1 {
	width: 10%;
}

.content.memo2 {
	width: 70%;
}

.content.img {
	width: 5%;
	padding: 8px 5px 5px 5px;
}

.content.title {
	width: 10%;
}

.content.chart {
	width: 25%;
	padding: 5px;
}

.content.area {
	text-align: center;
}

.subject.team2,
.content.team2 {
	width: 35%;
}

.subject.total,
.subject.gender,
.subject.status,
.subject.type,
.subject.name,
.subject.manage {
	width: 12%;
}

.subject.position {
	width: 20%;
}

.content.total,
.content.gender,
.content.status,
.content.status2,
.content.type,
.content.name,
.content.manage {
	width: 12%;
}

.content.position {
	width: 20%;
}

.content.date {
	width: 20%;
}

.subject.date {
	width: 20%;
}

.content.status {
	color: #7fb77e;	
}

.content.status2 {
	color: #43A047;	
}

#boxDetail {
	display: block;
}

#boxDetail2 {
	display: none;
}

button.detail:hover {
	border: solid 2px #ffc090;
}
	
button.detail:focus {
	border-color: #ffc090;
    box-shadow: 0 0 1px 2px rgba(255, 192, 144, 0.5);
    color: #ffc090;
}

.btn-teamInsert:hover {
	color: #fff;
	border: solid 2px #ffc090;
	background: #ffc090;
}	

.btn-box {
    cursor: pointer;
}

.x-btn {
    position: absolute;
    top: 10.4rem;
    right: 2rem;
    padding: 1px;
}

.i {
    color: #9E9E9E;
    font-size: 20px;
    font-style: normal;
    font-family: 'NanumSquareExtraBold' !important;
    border : 2px solid;
    border-radius: 4px;
    padding: 3px 5px;
}

.i:hover {
	color: #ffc090;
}

.btn-box.title:hover {
	color: #9E9E9E;
}
