<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamcommit.kickoff.Service.game.GameMapper">

    <select id="gameDetail" parameterType="com.teamcommit.kickoff.Do.GameDO" resultType="com.teamcommit.kickoff.Do.GameDO">
        <![CDATA[
        SELECT
        	*
        FROM 
        	GAME
        ]]>
    </select>

    <!-- Board Detail -->
    <select id="getGameScoreDetail" parameterType="com.teamcommit.kickoff.Do.GameDO" resultType="com.teamcommit.kickoff.Do.GameDO">
        <![CDATA[
        SELECT
            *
        FROM
            GAME
        WHERE
            GAME_SEQNO = #{gameSeqno}
        ]]>
    </select>

    <insert id = "insertGame" parameterType="com.teamcommit.kickoff.Do.GameDO">
        <![CDATA[
        INSERT INTO GAME
        (
            GAME_SEQNO,
            PLACE_NAME,
            TEAM1_NAME,
            GAME_START_TIME,
            GAME_DATE,
            GAME_STYLE,
            GAME_GENDER,
            GAME_STATUS,
            GAME_OTHER
        )
        VALUES(
                  GAME_SEQ.NEXTVAL,
                  #{placeName},
                  #{team1Name},
                  #{gameStartTime},
                  #{gameDate},
                  #{gameStyle},
                  #{gameGender},
                  #{gameStatus},
                  #{gameOther}
              )
        ]]>
    </insert>
    
    <!-- place info -->
    <select id="selectPlaceInfo" parameterType="com.teamcommit.kickoff.Do.PlaceDO" resultType="com.teamcommit.kickoff.Do.PlaceDO">
        <![CDATA[
            SELECT *
            FROM
                RESERVATION
            WHERE
                USER_ID = #{userId}
        ]]>
    </select>
    
    <!-- team info -->
    <select id="selectTeamInfo" parameterType="com.teamcommit.kickoff.Do.TeamDO" resultType="com.teamcommit.kickoff.Do.TeamDO">
        <![CDATA[
            SELECT *
            FROM
                TEAM
            WHERE
                USER_ID = #{userId}
        ]]>
    </select>
    
</mapper>