<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamcommit.kickoff.Service.game.GameMapper">

    <select id="gameDetail" parameterType="com.teamcommit.kickoff.Do.GameDO" resultType="com.teamcommit.kickoff.Do.GameDO">
        <![CDATA[
        SELECT
        	*
        FROM 
        	GAME
        ]]>
    </select>

    <!-- Board Detail -->
    <select id="getGameScoreDetail" parameterType="com.teamcommit.kickoff.Do.GameDO" resultType="com.teamcommit.kickoff.Do.GameDO">
        <![CDATA[
        SELECT
            *
        FROM
            GAME
        WHERE
            GAME_SEQNO = #{gameSeqno}
        ]]>
    </select>
    
    <update id="getGameApply" parameterType="com.teamcommit.kickoff.Do.GameDO" >
    <![CDATA[
        UPDATE
        	GAME
        SET
        	TEAM2_NAME = #{team2Name}
        WHERE
    			GAME_SEQNO = #{gameSeqno}
        ]]>
	</update>

	<insert id="insertGameApply" parameterType="com.teamcommit.kickoff.Do.GameApplyDO">
	<![CDATA[
        INSERT INTO GAME_APPLY
        (
            GAME_SEQNO,
            APPLY_TEAM,
            USER_ID,
            GAME_APPLY_STATUS
        )
        VALUES(
                  GAME_SEQ.NEXTVAL,                 
                  #{applyTeam},
                  #{userId},
                  #{gameApplyStatus}
              )
        ]]>
	</insert>
	
	<!-- Reservation Place Detail -->
    <select id="selectReservationDetail" parameterType="com.teamcommit.kickoff.Do.ReservationDO" resultType="com.teamcommit.kickoff.Do.ReservationDO">
        <![CDATA[
            SELECT *
            FROM
                RESERVATION
            WHERE
                PLACE_ID = #{placeId}
        ]]>
    </select>
	
    <insert id = "insertGame" parameterType="com.teamcommit.kickoff.Do.GameDO">
        <![CDATA[
        INSERT INTO GAME
        (
            GAME_SEQNO,
            PLACE_NAME,
            TEAM1_NAME,
            GAME_START_TIME,
            GAME_END_TIME,
            GAME_DATE,
            GAME_STYLE,
            GAME_GENDER,
            GAME_STATUS,
            GAME_OTHER
        )
        VALUES(
                  GAME_SEQ.NEXTVAL,
                  #{placeName},
                  #{team1Name},
                  #{gameStartTime},
                  #{gameEndTime},
                  #{gameDate},
                  #{gameStyle},
                  #{gameGender},
                  #{gameStatus},
                  #{gameOther}
              )
        ]]>
    </insert>
    
    <!-- place info -->
    <select id="selectPlaceInfo" parameterType="com.teamcommit.kickoff.Do.ReservationDO" resultType="com.teamcommit.kickoff.Do.ReservationDO">
        <![CDATA[
            SELECT *
            FROM
                RESERVATION
            WHERE
                USER_ID = #{userId}
        ]]>
    </select>
    
    <!-- Date info -->
    <select id="selectDateInfo" parameterType="com.teamcommit.kickoff.Do.ReservationDO" resultType="com.teamcommit.kickoff.Do.ReservationDO">
        <![CDATA[
            SELECT *
            FROM
                RESERVATION
            WHERE
                USER_ID = #{userId}
        ]]>
    </select>
    
    <!-- team info -->
    <select id="selectTeamInfoName" parameterType="com.teamcommit.kickoff.Do.TeamInfoDO" resultType="com.teamcommit.kickoff.Do.TeamInfoDO">
        <![CDATA[
            SELECT *
            FROM
                TEAM_INFO
            WHERE
                LEADER_ID = #{userId}
        ]]>
    </select>
    
    <update id="selectGameFixForm" parameterType="com.teamcommit.kickoff.Do.GameDO">
    	<![CDATA[
    		UPDATE
    			GAME
    		SET
    			PLACE_NAME = #{placeName},
                TEAM1_NAME = #{team1Name},
                GAME_START_TIME = #{gameStartTime},
                GAME_END_TIME = #{gameEndTime},
                GAME_DATE = #{gameDate},
                GAME_STYLE = #{gameStyle},
                GAME_GENDER = #{gameGender},
                GAME_STATUS = #{gameStatus},
                GAME_OTHER = #{gameOther}
    		WHERE
    			GAME_SEQNO = #{gameSeqno}
    	]]>
    </update>
    
    <!-- place info -->
    <select id="updatePlaceInfo" parameterType="com.teamcommit.kickoff.Do.GameDO" resultType="com.teamcommit.kickoff.Do.GameDO">
        <![CDATA[
            SELECT *
            FROM
                GAME
            WHERE
                GAME_SEQNO = #{gameSeqno}
        ]]>
    </select>
    
    <!-- Date info -->
    <select id="updateDateInfo" parameterType="com.teamcommit.kickoff.Do.GameDO" resultType="com.teamcommit.kickoff.Do.GameDO">
        <![CDATA[
            SELECT *
            FROM
                GAME
            WHERE
                GAME_SEQNO = #{gameSeqno}
        ]]>
    </select>
    
    <!-- team info -->
    <select id="updateTeamInfoName" parameterType="com.teamcommit.kickoff.Do.TeamInfoDO" resultType="com.teamcommit.kickoff.Do.TeamInfoDO">
        <![CDATA[
            SELECT *
            FROM
                TEAM_INFO
            WHERE
                LEADER_ID = #{userId}
        ]]>
    </select>
    
</mapper>